ol, ul{
  list-style: none;
}

section a {
    color: #26c99f;
}
section p {
    float: none!important;
}
section h3 {
    background-color: #B0B0B0;
    color: #000000;
}

*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
    font-size: 1em;
    font-weight: bold;
    font-weight: 500;
    /* font-size: 1.5rem; */
}

header{
  width: 100%;
}
header nav ul{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: max-content;
}
header nav ul li{
  margin-bottom: 5px;
  color: #77f;
  width: max-content;
}
header nav ul li:nth-child(1){
  float: left;
}
header nav ul li:nth-child(2){
  float: right;
}
header nav ul li:nth-child(3){
  float: right;
}
header nav ul li:nth-child(4){
  float: right;
}
h1, h2, h3, h4, h5{
  font-weight: bold;
  padding-bottom: 1px;
}
h1{
  font-size: 1.602em;
  line-height:2em;
  background-color: #cf1e1e;
  color: #f8d4bf;
}
h2{
  font-size: 1.424em;
  line-height:1.5em;
  background-color: #404040;
  color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
h3{
  font-size: 1.266em;
  line-height:1.3em;
}
h4{
  font-size: 1.125em;
}
li{
  padding-left: 10px;
}
p ~ p{
  padding-top: 5px;
}
nav{
  height: 30px;
  margin-top: 10px;
}
section{
  padding: 10px 0;
}
section section{
  padding: 0 10px;
}
main{
  padding: 0 10px;
}
@media screen and (min-width: 700px){
  section{
    height: max-content;
    display: inline-block;
  }
  section h1, section p{
    float: left;
  }
  .image-holder img{
    width: auto;
  }
  .image-holder img:nth-child(2n){
    float: left;
  }
  .image-holder img:nth-child(2n+1){
    float: right;
  }
}
@media screen and (min-width: 1050px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main{
    width: 1050px;
  }
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 5px 0;
}
iframe {
  width: 100%;
  padding: 10px 0;
}
footer {
    color:#ff0000
}

#wrapper{
  width: 750px;
  height: 540px;
  background-color: #FDFEFE;
  margin: auto;
}

#map{
  width: 700px;
  height: 540px;
  background-color: #DE3163;
  margin: auto; 
}

.slider div{
  background-color: #DE3163;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bx-viewport {
  background-color: #DE3163;
  margin: auto;
}

.bx-wrapper {
  width: 1000px;
  margin: auto;
}

.slider {
  margin: auto;
}

.bx-clone{
  background-color: #FF0000;
}

.bx-pager.bx-default-pager a:hover{
  background: #DE3163;
}
